<footer class="footer">

    <div class="footer-container">
  
      <div class="footer-brand">
  
        <div class="footer-logo">
          <span>Q</span>
          quickskill
        </div>
  
        <p>
          Платформа для обмена<br>
          знаниями между студентами.
        </p>
  
      </div>
  
  
      <div class="footer-column">
  
        <strong>QuickSkill</strong>
  
        <a routerLink="/">Главная</a>
        <a routerLink="/courses">Каталог</a>
        <a routerLink="/create-course">
          Создать курс
        </a>

      </div>


      <div class="footer-column">

        <strong>Помощь</strong>

        <a routerLink="/faq">FAQ</a>
        <a routerLink="/support">Поддержка</a>
        <a routerLink="/terms">Правила</a>

      </div>
  
    </div>
  
  
    <div class="footer-bottom">
  
      <span>
        © 2026 QuickSkill
      </span>
  
      <span>
        Made for students
      </span>
  
    </div>
  
  </footer>