PROJECT_SECRET_KEY=django-insecure-*6c#-9**)^d)xx*c_5r3@bs!vr%b3^pyfgzw0v!l@2h63&#-$q
PROJECT_ENV_ID=dev

POSTGRES_DB=quickskill
POSTGRES_USER=quickskill
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
