<a class="course-card" href="{% url 'courses:course_detail' course.pk %}">
    <div class="course-card__header">
        <span class="item-title">{{ course.title }}</span>
        {% if not course.is_published %}
            <span class="badge">Черновик</span>
        {% endif %}
    </div>
    {% if course.category %}
        <span class="badge badge--primary">{{ course.category.name }}</span>
    {% endif %}
    <p>{{ course.description|truncatewords:20|default:"Без описания" }}</p>
    <span class="helptext">Автор: {{ course.author.username }}</span>
</a>
