{% extends "base.html" %}

{% block title %}Редактирование профиля — QuickSkill{% endblock %}

{% block content %}
    <div class="card">
        <h1>Редактирование профиля</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="actions-row">
                <button type="submit" class="btn">Сохранить</button>
                <a href="{% url 'users:profile' %}" class="btn btn--ghost">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}
