<header class="header">
    <div class="header-container">
  
      <a routerLink="/" class="logo">
        <span class="logo-icon">Q</span>
        <span class="logo-text">quickskill</span>
      </a>
  
      <nav class="navigation">
        <a routerLink="/catalog">
          Каталог
        </a>
  
        <a routerLink="/create-course">
          Создать курс
        </a>
      </nav>
  
      <div class="header-actions">
  
        <button class="search-button" type="button">
          <span class="search-icon"></span>
        </button>
  
        <a routerLink="/login" class="login-link">
          <span class="avatar"></span>
          <span>Вход / Регистрация</span>
        </a>
  
      </div>
  
    </div>
  </header>
